/node_modules
/public/hot
/public/uploads
/public/storage
/storage/*.key
/storage/clockwork
/fronend/node_modules
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/tmp
